<section class="loginSection">
  <section class="loginWrap">
    <div *ngIf="passwordResetLoader" class="pageLoader">
      <div class="lds-dual-ring"></div>
    </div>
    <!-- email -->
    <div class="emailBox" *ngIf="isEmailVisible">
      <form [formGroup]="userForm">
        <div class="inputWrap">
          <p>Forgot password</p>
          <p class="userMsg">No worries, we'll send you reset instructions</p>
          <mat-form-field appearance="outline" class="emailInput">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter your Email"
              type="email"
              required
            />
            <mat-error *ngIf="f['email'].hasError('required')">
              Email field cannot be empty. Please enter your registered email
              address.
            </mat-error>
            <mat-error *ngIf="f['email'].hasError('email')">
              Please enter a valid email address for password reset.
            </mat-error>
             <mat-error *ngIf="f['email'].hasError('invalidEmail')">
              The email entered is not associated with any registered account.
            Please check the email or sign up if you don't have an account.
            </mat-error>
          </mat-form-field>
        </div>
      </form>
      <div class="actionWrap">
        <button
          class="ctnu-btn"
          mat-raised-button
          color="primary"
          [disabled]="!f['email'].valid"
          (click)="resetPassword()"
        >
          Reset Password
        </button>
      </div>
    </div>
    <!-- otp -->
    <div class="emailBox" [hidden]="!isOtpVisible">
      <form [formGroup]="userForm">
        <div class="inputWrap">
          <p>Password reset</p>
          <p class="userMsg">We sent a code to {{ userEmail }}</p>
          <ng-otp-input
            *ngIf="otpControl !== null"
            [formCtrl]="otpControl"
            [config]="{ length: 5 }"
            class="otpInput"
          ></ng-otp-input>
          <mat-error *ngIf="f['otp'].hasError('required')"
            >OTP is required</mat-error
          >
           <mat-error *ngIf="f['otp'].hasError('invalidOTP')"
            >The entered OTP is incorrect. Please double-check and try again.</mat-error
          >
          <a class="resetCodeLink" (click)="resetPassword()">Resend code?</a>
        </div>
      </form>
      <p></p>

      <div class="actionWrap">
        <button
          class="ctnu-btn"
          mat-raised-button
          color="primary"
          (click)="verificationCode()"
          [disabled]="!f['otp'].valid"
        >
          Continue
        </button>
      </div>
    </div>

    <!-- password -->
    <div class="emailBox" *ngIf="isPasswordVisible">
  <form [formGroup]="userForm">
    <div class="inputWrap">
      <p>Set new password</p>
      <p class="userMsg">Must be at least 8 characters</p>
      <mat-form-field appearance="outline" class="emailInput">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          matInput
          placeholder="Password"
          type="password"
          required
        />
        <mat-error
          *ngIf="
            f['password'].hasError('whitespace') &&
            !f['password'].hasError('required')
          "
        >
          Password cannot contain whitespace.
        </mat-error>
        <mat-error *ngIf="f['password'].hasError('required')">
          Password is required.
        </mat-error>
        <mat-error
          *ngIf="
            f['password'].hasError('minlength') &&
            !f['password'].hasError('required') &&
            !f['password'].hasError('whitespace')

          "
        >
          Password must be at least 8 characters long.
        </mat-error>
        <mat-error
          *ngIf="
            f['password'].hasError('pattern') &&
            !f['password'].hasError('required') &&
            !f['password'].hasError('minlength') &&
            !f['password'].hasError('whitespace')

          "
        >
          Password must contain at least one uppercase letter, one lowercase
          letter, one digit, and one special character.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="emailInput">
        <mat-label>Confirm password</mat-label>
        <input
          formControlName="confirmpassword"
          matInput
          placeholder="Confirm password"
          type="password"
          required
        />
        <mat-error *ngIf="f['confirmpassword'].hasError('required')">
          Confirm password is required.
        </mat-error>
        <mat-error
          *ngIf="
            f['confirmpassword'].hasError('passwordMismatch') &&
            !f['confirmpassword'].hasError('required')
          "
        >
          Passwords do not match.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="actionWrap">
    <button
      class="ctnu-btn"
      mat-raised-button
      color="primary"
      [disabled]="!f['password'].valid && !f['confirmpassword'].valid"
    >
      Reset Password
  </button>
  </div>
</div>
 <button mat-button class="bact-btn" (click)="login()">
          <mat-icon fontSet="material-icons-outlined">arrow_back</mat-icon> Back
          to login
        </button>

  </section>
</section>
