<section class="classListWraper">
    <section class='classesWrap'>
        <section class='titleWrap'>
            <button mat-stroked-button> <mat-icon>chevron_left</mat-icon>Back</button>

            <!-- <div></div> -->
            <!--remove this empty element after useage of above button, this is for structure purpose-->
            <h2 class='title'>{{'BATCH.CLASSES' | translate}}</h2>
            <div class="viewControlButtons">
                <mat-button-toggle-group [(ngModel)]="selectedView" (change)="onToggleChange($event.value)">
                    <mat-button-toggle value="list" mat-button-toggle-checked="true">
                        <mat-icon>list</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="grid">
                        <mat-icon>grid_view</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </section>
        <ng-container>
            <app-filters (filterValueEmitter)="filtersValue($event)" [classesCount]="classesCount" />
        </ng-container>
        <!-- </section> -->
        <div class="classesTable" *ngIf="selectedView === view.LIST && !batchesLoading">
            <app-batch-list [batchList]="batchList" />
        </div>
        <div *ngIf="selectedView === view.GRID && !batchesLoading" class="classListGridView">
            <app-batch-card [batchList]="batchList" />
        </div>
        <div *ngIf="batchesLoading" class="pageLoader">
            <div class="lds-dual-ring"></div>
        </div>
        <div *ngIf="showError">
            <p>{{ errorMessage }}</p>
        </div>
    </section>
    <section class='classListWraperResponsive'>
        <app-batch-card [batchList]="batchList" />
    </section>
</section>